<header class="header">
  <div class="container header__container header__container_home">
    <nav class="navigation">
      <a href="#" data-page="home" data-action="go-page" class="logo">
        <svg class="logo__icon">
          <use href="./images/icons.svg#icon-film"></use>
        </svg>
        <h1 class="logo__text">Filmoteka</h1>
      </a>
      <ul class="navigation__menu">
        <li class="navigation__item">
          <a
            class="navigation__link"
            init
            data-action="go-page"
            data-page="home"
            data-lang="homeButton"
            href="#"
            >Home</a
          >
        </li>
        <li class="navigation__item">
          <a
            class="navigation__link"
            data-action="go-page"
            data-page="library"
            data-lang="libraryButton"
            href="#"
            >My Library</a>
        </li>
      </ul>
      </nav>

      <div class="control-bar">
      <form class="search-form active" data-root="search-bar">
        <label for="movie-search" class="visually-hidden">Search movie</label>
        <input
          id="movie-search"
          name="searchQuery"
          type="text"
          class="search-form__input"
          data-lang="searchInput"
          placeholder="Search for movies..."
        />

        <button class="search-form__button" type="submit">
          <svg class="search-form__icon">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      </ul>
      </div>
      </div>
    </div>
  </div>
</header>

